@page "{id}"
@model Reserve.Pages.Event.ViewAttendeesModel

<h1 class="notification-title mb-lg-5 d-flex justify-content-center">Attendees List</h1>
<div class="d-flex justify-content-between mb-lg-5 event-buttons">
    <h2 class="notification-title m-3">@Model.Event!.Title</h2>
    <h3 class="notification-title m-3">Location: @Model.Event.Location</h3>
    <div class="d-flex w-25">
        <a href="@Url.Page("EditEvent", new {id = Model.Id})" class="btn reserve-blue-button m-3">Edit Event</a>
        <a class="btn reserve-red-button m-3">End Reservation</a>
    </div>
</div>
<table class="table">
    <thead class="table-light">
        <tr class="notification-text">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0;i < Model.Attendees.Count;i++){
            <tr class="notification-text box-shadow shadow-sm">
                <td>@(i+1)</td>
                <td>@Model.Attendees[i]!.ReserverName</td>
                <td>@Model.Attendees[i]!.ReserverEmail</td>
                <td>@Model.Attendees[i]!.ReserverPhoneNumber</td>
            </tr>
        }        
    </tbody>
</table>