@page "/appointer-notification/{id}"
@model Reserve.Pages.Appointment.AppointerNotificationsModel
@using Reserve.Core.Features.Appointment
@Html.AntiForgeryToken()
<style>
    tr.htmx-swapping td {
        opacity: 0;
        transition: opacity 1s ease-out;
    }
</style>
<h1 class="notification-title mb-lg-5">Your Notifications!</h1>
@if (Model.AppointerNotifications.Count > 0)
{
    <div class="table-responsive mb-5">
        <table class="table mb-lg-5">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Date and Time</th>
                    <th>Notification Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table-body">
                @foreach (var appointment in Model.AppointerNotifications)
                {
                    <tr>
                        <td>@appointment.ReserverName</td>
                        <td>@appointment.ReserverPhoneNumber</td>
                        <td>@appointment.ReserverEmail</td>
                        <td>@appointment.Slot.StartTime.ToLongDateString() @appointment.Slot.StartTime.ToShortTimeString()</td>
                        <td>@appointment.NotificationType</td>
                        <td><button hx-delete="/delete-notification/@appointment.Id" hx-headers='js:{"X-CSRF-TOKEN": document.getElementsByName("__RequestVerificationToken")[0].value}' hx-target="closest tr" hx-swap="outerHTML swap:1s" class="btn reserve-red-button">Dismiss Notification</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (Model.RescheduleRequests.Count > 0)
{
    <div class="table-responsive">
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Old Slot Date</th>
                    <th>New Slot Date</th>
                    <th>Rescheduling status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="table-request-body">
                @foreach (var reschedule in Model.RescheduleRequests)
                {
                    <tr>
                        <td>@reschedule.OriginalAppointment.ReserverEmail</td>
                        <td>@reschedule.OriginalAppointment.ReserverPhoneNumber</td>
                        <td>@reschedule.OriginalAppointment.ReserverPhoneNumber</td>
                        <td>@reschedule.OriginalAppointment.Slot.StartTime.ToShortDateString() - @reschedule.OriginalAppointment.Slot.StartTime.ToShortTimeString()</td>
                        <td>@reschedule.RequestedTime.StartTime.ToShortDateString() - @reschedule.RequestedTime.StartTime.ToShortTimeString()</td>
                        <td>@reschedule.RescheduleStatus</td>
                        <td><button hx-delete="/delete-request/@reschedule.Id" hx-headers='js:{"X-CSRF-TOKEN": document.getElementsByName("__RequestVerificationToken")[0].value}' hx-target="closest tr" hx-swap="outerHTML swap:1s" class="btn reserve-red-button">Delete Request</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}