@page "/appointee-details/{id}"
@model Reserve.Pages.Appointment.ReserverDetailsModel

<h1 class="notification-title mb-lg-5">Reserve Now!</h1>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="notification-border mb-lg-5">
        <h2 class="font-appointment-details d-flex justify-content-center mb-lg-5">Appointment with @Model.AvailabilitySlot.AppointmentCalendar.Name</h2>
        <div class="d-flex flex-column align-items-center">
            <h3 class="reserve-appointment">Start Time: @Model.AvailabilitySlot.StartTime.ToLongDateString() @Model.AvailabilitySlot.StartTime.ToShortTimeString()</h3>
            <h3 class="reserve-appointment">End Time: @Model.AvailabilitySlot.EndTime.ToLongDateString() @Model.AvailabilitySlot.EndTime.ToShortTimeString()</h3>
        </div>
        <form method="post" class="p-3">
            <span asp-validation-for="Appointment.Slot.Available" class="text-danger d-flex justify-content-center mb-lg-5"></span>
            <div class="d-flex flex-column">
                <div class="d-flex appointer-details justify-content-evenly">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <label asp-for="Appointment.ReserverName" class="form-label">Your Name</label>
                    </div>
                    <input type="text" asp-for="Appointment.ReserverName" name="Appointment.ReserverName" class="input-appointer-details form-control w-50" />
                </div>
                <span asp-validation-for="Appointment.ReserverName" class="text-danger d-flex justify-content-center p-3"></span>
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex appointer-details justify-content-evenly">
                    <div class="col-3">
                        <label asp-for="Appointment.ReserverEmail" class="form-label">Email</label>
                    </div>
                    <input type="text" asp-for="Appointment.ReserverEmail" name="Appointment.ReserverEmail" class="input-appointer-details form-control w-50" />
                </div>
                <span asp-validation-for="Appointment.ReserverEmail" class="text-danger d-flex justify-content-center p-3"></span>
            </div>
            <div class="d-flex flex-column">
                <div class="d-flex appointer-details justify-content-evenly">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                        <label asp-for="Appointment.ReserverPhoneNumber" class="form-label">Phone Number</label>
                    </div>
                    <input type="text" asp-for="Appointment.ReserverPhoneNumber" name="Appointment.ReserverPhoneNumber" class="input-appointer-details form-control w-50" />
                </div>
                <span asp-validation-for="Appointment.ReserverPhoneNumber" class="text-danger d-flex justify-content-center p-3 mb-3"></span>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-custom reserve-blue-button col-md-2 col-12">Reserve Now</button>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </form>
    </div>

</div>
