@page "{id}"
@model Reserve.Pages.Appointment.ReserveAppointmentModel

<h1 class="notification-title mb-lg-5">Schedule an appointment with @Model.AppointmentCalendar.Name</h1>
<table class="table">
    <thead class="table-light">
        <tr>
            <th>Start Time</th>
            <th>End Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="table-body">
        @foreach (var slot in Model.AvailabilitySlots)
        {
            <tr>
                <td>@slot.StartTime.ToLongDateString() @slot.StartTime.ToShortTimeString()</td>
                <td>@slot.EndTime.ToLongDateString() @slot.EndTime.ToShortTimeString()</td>
                <td><a href="@Url.Page("ReserverDetails", new {id = slot.Id})" class="btn reserve-blue-button">Reserve Now!</a></td>
            </tr>
        }
    </tbody>
</table>